.build-space {
    top:10em;
    display:flex;
    flex-direction: column;
    width:auto;
    height:100%;
    padding:0.5px;
}

.sg-controls-container {
    max-width:30em;
    width: 90%;

    &>.sg-controls {
        display:flex;
        flex-direction: row;
        height: 3.25em;
        margin: 0.25em auto;
        border: 1px solid black;
        box-shadow: 0 1px 8px 1px gray;

        &>.add-call-button {
            width:2em;
            height:2em;
        
            &>svg {
                margin:0.15em;
            }
        
            &>svg>circle {
                fill:none;
            }
        
            &>svg>* {
                stroke:rgb(128,128,128);
                stroke-width: 2;
            }
        
            &:hover {
                &>svg>* {
                    stroke-width:2.5;
                    stroke:#cc0000;
                }
            }
        }

        &>.save-button {
            height: 2.5em;
            width: 3.5em;
            margin: auto;

            &>img {
                height: 2.25em;
                width: 3.5em;
                margin:auto;
            }

            &:hover {
                background-color: lightgray;
            }
        }
    }
}

.add-call-card {
    width: 90%;
    height: 6.5em;
    margin: auto;
    border: 1px solid gray;

    &>.add-call-input {
        display:flex;
        flex-direction: row;
        height:2.5em;
        width: 80%;
        margin: 1em auto 0;

        &>* {
            margin: auto 0.25em;
        }

        &>select {
            height:2em;
            width:12em;
        }
    }

    &>.add-call-buttons {
        float:right;
        height: 1.5em;
        margin: 0.5em 1em;

        &>button {
            margin: auto 0.25em;
        }
    }
}

.string-container {
    max-width:30em;
    width: 90%;
    height: 7em;
    margin: 1.25em auto 1em 7.5em;
    border: 1px solid black;
    box-shadow: 0 1px 8px 1px gray;

    &>.input-section {
        height:65%;
        display:flex;
        flex-direction:column;

        &>.input-row {
            display:flex;
            flex-direction:row;
            height:2em;
            width: 85%;
            margin: 2em auto 0;

            &>div {
                width:25%;
                margin: auto 0.25em;
                text-align: right;
            }

            &>input {
                width: 70%;
                height: 1.75em;
                margin: auto 0.25em;
            }
        }
    }

    &>.button-section {
        display:flex;
        flex-direction:row;
        height:35%;
        width: 90%;
        margin:auto;

        &>button {
            height:1.75em;
            margin: auto 0.5em;
        }
    }
}


.spec-container {
    max-width:30em;
    display:flex;
    flex-direction: column;
    width: 90%;
    height: 12.5em;
    margin: 1.25em auto 1em 7.5em;
    border: 1px solid black;
    box-shadow: 0 1px 8px 1px gray;

    &>div {
        display: flex;
        flex-direction: row;
        height: 2em;
        
    }

    &>.inputs-section {
        height:75%;
        display:flex;
        flex-direction:column;

        &>.input-row {
            display:flex;
            flex-direction:row;
            height:2em;
            width: 85%;
            margin: 1em auto 0;

            &>div {
                width:25%;
                margin: auto 0.25em;
                text-align: right;
            }

            &>input {
                width: 70%;
                height: 1.75em;
                margin: auto 0.25em;
            }
        }
    }

    &>.button-section {
        display:flex;
        flex-direction:row;
        height:25%;
        width: 90%;
        margin:auto;

        &>button {
            height:1.75em;
            margin: auto 0.5em;
        }

        &>.toggle-inputs {
            display:flex;
            flex-direction: row;
            width: 60%;
            margin: auto 0 auto auto;

            &>div {
                display:flex;
                flex-direction: row;
                width: 48%;
                margin: auto 0 auto auto;

                &>div {
                    width: 70%;
                    text-align:right;
                    margin:auto 0.25em auto auto;
                }

                &>input {
                    margin:auto 0.25em auto;
                }
            }
            
        }
    }

    &>.spec-spec {
        width:90%;
        margin: 1.5em auto 0;

        &>div {
            min-width:5.5em;
            padding:0.25em;
        }

        &>input {
            width: 16em;
        }

        &>* {
            margin:0.25em 0.5em 0;
        }
    }

    &>.spec-value-input {
        width:90%;
        margin: 1em auto 0;

        &>div {
            min-width:5.5em;
            padding:0.25em;
        }

        &>input {
            width: 16em;
        }

        &>* {
            margin:0.25em 0.5em 0;
        }
    }
}