#disto folder
dist/

#dependencies/packages
node_modules/
.yarn/
.yarnrc.yml
.pnp.*
.DS_Store

#internal docs
src/resources/current.json
src/resources/SNGdev.json
src/resources/SNGs.json
src/resources/StyleGuide.json