.main-container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.main-view-container{
    margin-top: 6em;
}

.top-spacer {
    margin-left: 2em;
}

.app-wrapper-main {
    min-width: 50em;
    overflow: auto;
}

.app-wrapper-sng-builder {
    top:0;
    padding:0;
    margin:0;
}