.asset-overlay {
    z-index:100;
    width:100%;
    height:100%;
    top: 4em;
    padding-top:2em;
    background-color: rgba(gray, 0.7);
    position: fixed;
    justify-content: center;

    &>.asset-interface {
        flex-direction: column;
        background-color: rgba(255,255,255,1);
        margin:auto;
        padding: 0.1px;
        min-width:22em;
        width: 60%;
        height: 30em;
        overflow-y:auto;

        &>.formula-container {
            width: 90%;
            margin: 0.75em auto 0;
            height: 18em;

            &>.formula-body {
                width: 97%;
                margin:0.5em auto;
                overflow-y:auto;
                height: 60%;
                border: 2px solid lightgray;
            }

            &>.formula-button {
                height: 15%;

                &>button {
                    float:right;
                    margin: 0.75em 1.5em;
                    height: 2em;
                    width: 4.5em;
                }
            }
        }

        &>.json-container {
            width: 90%;
            margin: 0.25em auto 0;
            height: 18em;

            &>.json-body {
                width: 97%;
                margin: 0.5em auto;
                overflow-y:auto;
                height: 60%;
                border: 2px solid lightgray;
            }

            &>.json-button {
                height: 15%;

                &>button {
                    float:right;
                    margin: 0.75em 1.5em;
                    height: 2em;
                    width: 4.5em;
                }
            }
        }
    }
}