.drawer-body {
    display:flex;
    flex-direction: column;
    height: calc(100% - 3.5em);
    width: 100%;
    overflow-y: auto;
    background-color:white;

    &>div {
        z-index:11;
    }

    &>div:last-child {
        margin-bottom:2em;
    }
}

.start-node {
    display:flex;
    flex-direction: row;
    margin: 1.5em auto 0 1.5em;
    width:50%;
    min-width: 3em;
    min-height: 3.5em;
    background-color: white;
    border: 1px solid gray;
    box-shadow: 0 1px 3px 1px gray;

    &>.start-node-class {
        margin:1em 0.5em;
        width:85%;
        height: 2em;
        min-width: 5em;
        text-align: left;

        &>div {
            margin:0.5em auto;
        }
    }

    &>.staple-save {
        margin:0.5em 0.25em;
        width:3.75em;
        height:2.5em;

        &>img {
            margin:auto;
            height:2.5em;
            width:3.75em;
        }
    }

    &>.staple-save:hover {
        background-color: lightgray;
    }
}

.input-node {
    display: flex;
    flex-direction: column;
    width:100%;
    background-color: white;


    &>.input-form {
        display:flex;
        flex-direction: column;
        min-height: 10em;
        min-width: 29.5em;
        margin:0.5em auto 0;
        border: 1px solid gray;
        box-shadow: 0 1px 3px 1px gray;
        

        &>.inputs-section {
            width: 90%;
            height:75%;
            margin:auto;
        }

        &>.input-controls {
            float:right;
            height:20%;
            width:60%;
            max-width: 24em;
            margin:auto 1.5em;
            display:flex;
            flex-direction:row;

            &>* {
                margin:auto 0.5em;
            }
        }
    }
}


.input-form-row {
    display:flex;
    flex-direction: row;
    height: 2.5em;
    margin: 0.5em auto;

    .input-form-column {
        display:flex;
        flex-direction: row;
        margin: auto 0.75em;

        &>* {
            margin: 0 0.25em;
        }

        &>select {
            width: 6.5em;
        }
    }
}

.row-title {
    width:3.5em;
}



.default-node {
    width:85%;
    min-width: 7.5em;
    min-height: 6em;
    margin: 0.5em auto auto 2.75em;
    background-color: white;
    justify-content: center;
    border: 2px solid gray;
    box-shadow: 0 1px 3px 1px gray;

    &>.default-node-container {
        display:flex;
        flex-direction: row;
        width: 70%;

        &>.default-title {
            width:45%;
            margin:1.5em auto;

            &>p {
                cursor:default;
                text-align: center;
            }
        }

        &>.default-controls {
            display:flex;
            flex-direction: row;
            width:55%;
            margin:1.5em auto;
            justify-content: center;

            &>button {
                height:2em;
                margin: 1em 0.25em;
            }
        }
    }
}

.add-top-container {
    max-width:30em;
    width: 90%;
    margin: 0.5em auto;

    &>.add-svg-card {
        width: 3em;
        height: 3em;
        margin: 0.25em auto;
        border: 1px solid gray;
        box-shadow: 0 1px 8px 1px gray;

        &>.add-level-button {
            width:2em;
            height:2em;
            margin: 0.5em auto;
        
            &>svg {
                margin:0.15em;
            }
        
            &>svg>circle {
                fill:none;
            }
        
            &>svg>* {
                stroke:rgb(128,128,128);
                stroke-width: 2;
            }
        
            &:hover {
                &>svg>* {
                    stroke-width:2.5;
                    stroke:#cc0000;
                }
            }
        }
    }
}

.add-selection-card {
    width: 90%;
    height: 6.5em;
    margin: auto;
    border: 1px solid gray;

    &>.add-call-input {
        display:flex;
        flex-direction: row;
        height:2.5em;
        width: 80%;
        margin: 1em auto 0;

        &>* {
            margin: auto 0.25em;
        }

        &>select {
            height:2em;
            width:12em;
        }
    }

    &>.add-selection-buttons {
        float:right;
        height: 1.5em;
        margin: 0.5em 1em;

        &>button {
            margin: auto 0.25em;
        }
    }
}