.mainNav {
    position:fixed;
    top: 0;
    background-color: #cc0000;
    height: 4em;
    min-width: 100%;
    display: flex;
    z-index: 5;
    box-shadow: 0px 1px 8px 1px gray;
}

.mainNav button {
    cursor:pointer;
    display: inline-block;
    height: 100%;
    width: 7em;
    background-color: #cc0000;
    color: white;
    border: none;
}

.mainNav button:hover {
    background-color: darkred;
}

.mainNav button:focus {
    box-shadow: none;
    outline: none;
}

.mainNav button:active {
    color: darkred;
}

.left-side-nav {
    width: 50%;
}

.right-side-nav {
    display: flex;
    justify-content: flex-end;
    width: 50%;

    &>input {
        height: 1.75em;
        width: 17em;
        margin: 0.75em 1.25em;
        border-radius: 6px;
        border-style: none;
        outline: none;
    }

    &>input[type="search"] {
        font-size: 1.25em;

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            cursor:pointer;
    
            width:0.75em;
            height:0.75em;
            margin-top:0.25em;
            background: url("../../../../assets/cancel.svg");
            background-repeat: no-repeat;
        }
    }
}

.sg-right-side-nav  {
    display: flex;
    justify-content: flex-end;
    width: 75%;

    &>input {
        height: 1.75em;
        width: 17em;
        margin: 0.75em 1.25em;
        border-radius: 6px;
        border-style: none;
        outline: none;
    }

    &>input[type="search"] {
        font-size: 1.25em;

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            cursor:pointer;
    
            width:0.75em;
            height:0.75em;
            margin-top:0.25em;
            background: url("../../../../assets/cancel.svg");
            background-repeat: no-repeat;
        }
    }
}