.nav-bar {
    position:fixed;
    top: 0;
    background-color: #cc0000;
    height: 4em;
    min-width: 100%;
    display: flex;
    z-index: 5;
    box-shadow: 0px 1px 8px 1px gray;

    & button {
        cursor:pointer;
        display: inline-block;
        height: 100%;
        width: 7em;
        background-color: #cc0000;
        color: white;
        border: none;
    }

    & button:hover {
        background-color: darkred;
    }

    & button:focus {
        box-shadow: none;
        outline: none;
    }
    
    & button:active {
        color: darkred;
    }
}