.main-container {
    margin-top: 125px;
    width:100%;

}

.top-spacer {
    margin-left: 2em;
}

.top-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 95%;
    height: 50em;
    max-width: 85em;
    margin: 0 auto;
    justify-content: center;

    &>* {
        min-width: 15em;
    }

    .sku-data-container {
        flex: 0 0 45%;
    }
}

.lower-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.WrittenContent {
    width: 95%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;

    & li {
        margin-left: 2em;
    }

    &>* {
        margin-left: 1em;
    }
}

.spec-section {
    margin: 3em auto;
    width: 95%;

    & table td {
        border: 1px solid lightgray;
    }

    & table {
        border-collapse: collapse;
        width: 80%;
        margin: 0 auto;
    }

    & td {
        height: 1.25em;
        padding: 2px 3px;
    }
}
